@font-face {
    font-family: 'Amarillo';
    src: url('/fonts/Amarillo.ttf') format('truetype');
    /* You may need to add other font formats (e.g., woff, woff2) for better browser compatibility */
    font-weight: normal;
    font-style: normal;
  }