@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Amarillo";
  src: url("../public/fonts/Amarillo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.filter-blur:hover {
  filter: blur(100px);
}
* {
  margin: 0;
  padding: 0;
}
